---
# Source: longhorn/templates/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: longhorn-system
resources:
  - https://raw.githubusercontent.com/longhorn/longhorn/v1.10.1/deploy/longhorn.yaml

patches:
  - patch: |-
      - op: replace
        path: /metadata/labels/app.kubernetes.io~1instance
        value: 1-longhorn
    target:
      kind: CustomResourceDefinition
  - patch: |-
      - op: add
        path: /metadata/annotations
        value:
          ignore-check.kube-linter.io/dangling-service: 'External resource.'
    target:
      kind: Service
      name: longhorn-admission-webhook|longhorn-recovery-backend
  - patch: |-
      - op: add
        path: /metadata/annotations
        value:
          ignore-check.kube-linter.io/privilege-escalation-container: 'External resource.'
          ignore-check.kube-linter.io/privileged-container: 'External resource.'
    target:
      kind: DaemonSet
      name: longhorn-manager
