---
# Source: metallb/templates/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://raw.githubusercontent.com/metallb/metallb/v0.15.3/config/manifests/metallb-native.yaml

patches:
  - patch: |-
      - op: add
        path: /metadata/annotations
        value:
          ignore-check.kube-linter.io/env-var-secret: 'External resource.'
    target:
      kind: Deployment
      name: controller
  - patch: |-
      - op: add
        path: /metadata/annotations
        value:
          ignore-check.kube-linter.io/drop-net-raw-capability: 'External resource.'
          ignore-check.kube-linter.io/env-var-secret: 'External resource.'
          ignore-check.kube-linter.io/host-network: 'External resource.'
    target:
      kind: DaemonSet
      name: speaker
